/*html {*/
/*background-color: whitesmoke;*/
/*}*/

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

/*Logo button*/
.navLogoButton {
    font-size: 15px;
    margin: auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/*Index enter postcode div*/
#indexPostcodeBox {
    background: url("../images/home.PNG");
    /*background-repeat: no-repeat;*/
    /*background-size: 900px;*/
    /*background-size: 100%;*/
    background-size: cover;
    /*max-width: 1500px;*/
    height: 80vh;
    /*height: 900px;*/
    width: 100%;
    /*resize-height: 50%;*/
}

/*Index input uppercase*/
#indexPostcodeInput{
	text-transform: uppercase;
}

/*Homepage image*/
#collectionImages {
    height: 40%;
    width: 100%;
}

/*Homepage find Button*/
#findActivity {
    margin-bottom: 5%;
}

/*Social media logo*/
.socialMedia {
    width: 1%;
    height: 1%;
}

/*Footer*/
#footerDiv {
    background-color: lightgray;
    padding: 0%;
}

